{% extends "base.html" %}
{% block content %}
<h1> Card Transaction History </h1>
<p>
    Card : {{ card.card_number }} </p>

<a href="{% url 'card_history' card.pk %}?type=all"> All </a>

<a href="{% url 'card_history' card.pk %}?type=sent">  Sent </a>

<a href="{% url 'card_history' card.pk %}?type=received"> Received </a>

<hr>
{% for transaction in transactions %}
<div>
    <p>
        Amount :
        {{ transaction.amount }} </p>
    <p>
        From :
        {{ transaction.sender.phone_number }} </p>
    <p>
        To :
        {{ transaction.receiver.phone_number }} </p>
    <p>
        Date :
        {{ transaction.created_at }} </p>
</div>
<hr>

{% empty %}
<p> No transactions for this card </p>
{% endfor %}
{% endblock %}