{% extends "base.html" %}
{% block content %}
<h1>Check phone</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit"> Check </button>
</form>

{% if form.is_bound %} 
    {% if user %}
        <h3>User found</h3>
        <p>
            First name:
            {{ user.account.first_name }} </p>
        <p>
            Last name:
            {{ user.account.last_name }} </p>

    {% else %}
        <p>User not found</p>
    {% endif %}
{% endif %}
{% endblock %}